In [1]:
import pandas as pd
import numpy as np

In [4]:
df_crop = pd.read_csv('TheAutomators/CropParameters.csv')
df_crop.head()

   %Time Stem_elong  Stem_thick  Cum_trusses  stem_dens   plant_dens
0  43823       14.4         7.1          NaN         3.6         1.8
1  43830       27.9        10.5          0.9         3.6         1.8
2  43838       32.8        12.8          2.8         3.6         1.8
3  43845       30.2        12.8          4.0         3.6         1.8
4  43852       30.3        12.5          5.2         4.5         1.8

In [5]:
df_greenhouse = pd.read_csv('TheAutomators/GreenhouseClimate.csv')
df_greenhouse.head()

/tmp/ipykernel_24027/3553878463.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,14,15,17,18,20,22,23,25,27,29,31,33,35,37,39,41,43,44,45,47,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df_greenhouse = pd.read_csv('TheAutomators/GreenhouseClimate.csv')

,%time,AssimLight,BlackScr,CO2air,Cum_irr,EC_drain_PC,EnScr,HumDef,PipeGrow,PipeLow,...,t_rail_min_sp,t_rail_min_vip,t_vent_sp,t_ventlee_vip,t_ventwind_vip,water_sup,water_sup_intervals_sp_min,water_sup_intervals_vip_min,window_pos_lee_sp,window_pos_lee_vip
0,43815.00000,0,35,439,0.5,3.6,96,7.0,0.0,50.9,...,NaN,0.0,NaN,25.0,26.0,4.0,NaN,1000,NaN,1.2
1,43815.00347,0,85,459,0.7,3.6,96,7.4,0.0,49.3,...,NaN,0.0,NaN,25.0,26.0,6.0,NaN,1000,NaN,1.2
2,43815.00694,0,96,461,0.7,3.6,95,6.0,0.0,47.6,...,NaN,0.0,NaN,25.0,26.0,6.0,NaN,1000,NaN,1.2
3,43815.01042,0,92,465,0.7,3.6,95,6.6,0.0,46.1,...,NaN,0.0,NaN,25.0,26.0,6.0,NaN,1000,NaN,1.2
4,43815.01389,0,92,467,0.7,3.6,95,7.0,0.0,45.2,...,NaN,0.0,NaN,25.0,26.0,6.0,NaN,1000,NaN,1.2

In [12]:
df_greenhouse.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47809 entries, 0 to 47808
Data columns (total 50 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   %time                        47809 non-null  float64
 1   AssimLight                   47809 non-null  object
 2   BlackScr                     47809 non-null  object
 3   CO2air                       47809 non-null  object
 4   Cum_irr                      47809 non-null  object
 5   EC_drain_PC                  47809 non-null  object
 6   EnScr                        47809 non-null  object
 7   HumDef                       47809 non-null  object
 8   PipeGrow                     47809 non-null  object
 9   PipeLow                      47809 non-null  object
 10  Rhair                        47809 non-null  object
 11  Tair                         47809 non-null  object
 12  Tot_PAR                      47809 non-null  object
 13  Tot_PAR_Lamps                47809 non-null  int64
 14  VentLee                      47809 non-null  object
 15  Ventwind                     47809 non-null  object
 16  assim_sp                     47809 non-null  object
 17  assim_vip                    47809 non-null  object
 18  co2_dos                      47809 non-null  object
 19  co2_sp                       47809 non-null  object
 20  co2_vip                      47809 non-null  object
 21  dx_sp                        47809 non-null  object
 22  dx_vip                       47809 non-null  object
 23  int_blue_sp                  47809 non-null  object
 24  int_blue_vip                 47809 non-null  object
 25  int_farred_sp                47809 non-null  object
 26  int_farred_vip               47809 non-null  object
 27  int_red_sp                   47809 non-null  object
 28  int_red_vip                  47809 non-null  object
 29  int_white_sp                 47809 non-null  object
 30  int_white_vip                47809 non-null  object
 31  pH_drain_PC                  47809 non-null  object
 32  scr_blck_sp                  47809 non-null  object
 33  scr_blck_vip                 47809 non-null  object
 34  scr_enrg_sp                  47809 non-null  object
 35  scr_enrg_vip                 47809 non-null  object
 36  t_grow_min_sp                47809 non-null  object
 37  t_grow_min_vip               47809 non-null  object
 38  t_heat_sp                    47809 non-null  object
 39  t_heat_vip                   47809 non-null  object
 40  t_rail_min_sp                47809 non-null  object
 41  t_rail_min_vip               47809 non-null  object
 42  t_vent_sp                    47809 non-null  object
 43  t_ventlee_vip                47809 non-null  object
 44  t_ventwind_vip               47809 non-null  object
 45  water_sup                    47809 non-null  object
 46  water_sup_intervals_sp_min   47809 non-null  object
 47  water_sup_intervals_vip_min  47809 non-null  object
 48  window_pos_lee_sp            47809 non-null  object
 49  window_pos_lee_vip           47809 non-null  object
dtypes: float64(1), int64(1), object(48)
memory usage: 18.2+ MB

In [9]:
df_production = pd.read_csv('TheAutomators/Production.csv')
df_production.head()

,%time,ProdA,ProdB,avg_nr_harvested_trusses,Truss development time,Nr_fruits_ClassA,Weight_fruits_ClassA,Nr_fruits_ClassB,Weight_fruits_ClassB
0,43880,0.037,0.0,0.1,50.0,NaN,128.0,0,0
1,43885,0.767,0.0,0.9,54.5,136.0,1271.0,0,0
2,43889,0.232,0.0,0.6,51.0,89.0,788.0,0,0
3,43894,0.778,0.0,1.5,55.1,226.0,2001.0,0,0
4,43899,0.248,0.0,0.9,53.6,133.0,1144.0,0,0

In [10]:
df_production.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   %time                     23 non-null     int64
 1   ProdA                     23 non-null     float64
 2   ProdB                     23 non-null     float64
 3   avg_nr_harvested_trusses  23 non-null     float64
 4   Truss development time    23 non-null     float64
 5   Nr_fruits_ClassA          22 non-null     float64
 6   Weight_fruits_ClassA      23 non-null     float64
 7   Nr_fruits_ClassB          23 non-null     int64
 8   Weight_fruits_ClassB      23 non-null     int64
dtypes: float64(6), int64(3)
memory usage: 1.7 KB

In [33]:
df_ref_greenhouse = pd.read_csv('Reference/GreenhouseClimate.csv')

/tmp/ipykernel_24027/2083090870.py:1: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,14,15,17,18,20,22,23,25,27,29,31,33,35,37,39,41,43,44,45,47,49) have mixed types. Specify dtype option on import or set low_memory=False.
  df_ref_greenhouse = pd.read_csv('Reference/GreenhouseClimate.csv')

In [34]:
df_ref_greenhouse['datetime']=pd.to_datetime(df_ref_greenhouse['%time'], unit='D', origin='1899-12-30')
df_ref_greenhouse.head()

,%time,AssimLight,BlackScr,CO2air,Cum_irr,EC_drain_PC,EnScr,HumDef,PipeGrow,PipeLow,...,t_rail_min_vip,t_vent_sp,t_ventlee_vip,t_ventwind_vip,water_sup,water_sup_intervals_sp_min,water_sup_intervals_vip_min,window_pos_lee_sp,window_pos_lee_vip,datetime
0,43815.00000,0,35,472,0.4,4.0,100,7.2,0.0,45.2,...,0.0,NaN,25.0,26.0,4.0,NaN,1000,NaN,1.2,2019-12-16 00:00:00.000000000
1,43815.00347,0,85,501,0.5,4.0,100,6.9,0.0,43.6,...,0.0,NaN,25.0,26.0,6.0,NaN,1000,NaN,1.2,2019-12-16 00:04:59.808000256
2,43815.00694,0,96,489,0.5,4.0,100,7.2,0.0,42.3,...,0.0,NaN,25.0,26.0,6.0,NaN,1000,NaN,1.2,2019-12-16 00:09:59.616000000
3,43815.01042,0,96,497,0.5,4.0,100,6.7,0.0,41.2,...,0.0,NaN,25.0,26.0,6.0,NaN,1000,NaN,1.2,2019-12-16 00:15:00.288000000
4,43815.01389,0,96,477,0.5,4.0,100,6.7,0.0,41.2,...,0.0,NaN,25.0,26.0,6.0,NaN,1000,NaN,1.2,2019-12-16 00:20:00.096000256

In [35]:
df_ref_greenhouse['datetime'].describe()

/tmp/ipykernel_24027/370196411.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_ref_greenhouse['datetime'].describe()

count                   47809
unique                  47809
top       2019-12-16 00:00:00
freq                        1
first     2019-12-16 00:00:00
last      2020-05-30 00:00:00
Name: datetime, dtype: object

In [38]:
df_ref_greenhouse = df_ref_greenhouse.sort_values(by='%time',ascending=True)
df_ref_greenhouse.head()

,%time,AssimLight,BlackScr,CO2air,Cum_irr,EC_drain_PC,EnScr,HumDef,PipeGrow,PipeLow,...,t_rail_min_vip,t_vent_sp,t_ventlee_vip,t_ventwind_vip,water_sup,water_sup_intervals_sp_min,water_sup_intervals_vip_min,window_pos_lee_sp,window_pos_lee_vip,datetime
0,43815.00000,0,35,472,0.4,4.0,100,7.2,0.0,45.2,...,0.0,NaN,25.0,26.0,4.0,NaN,1000,NaN,1.2,2019-12-16 00:00:00.000000000
1,43815.00347,0,85,501,0.5,4.0,100,6.9,0.0,43.6,...,0.0,NaN,25.0,26.0,6.0,NaN,1000,NaN,1.2,2019-12-16 00:04:59.808000256
2,43815.00694,0,96,489,0.5,4.0,100,7.2,0.0,42.3,...,0.0,NaN,25.0,26.0,6.0,NaN,1000,NaN,1.2,2019-12-16 00:09:59.616000000
3,43815.01042,0,96,497,0.5,4.0,100,6.7,0.0,41.2,...,0.0,NaN,25.0,26.0,6.0,NaN,1000,NaN,1.2,2019-12-16 00:15:00.288000000
4,43815.01389,0,96,477,0.5,4.0,100,6.7,0.0,41.2,...,0.0,NaN,25.0,26.0,6.0,NaN,1000,NaN,1.2,2019-12-16 00:20:00.096000256

In [14]:
df_ref_production = pd.read_csv('Reference/Reference/Production.csv')

,%time,ProdA,ProdB,avg_nr_harvested_trusses,Truss development time,Nr_fruits_ClassA,Weight_fruits_ClassA,Nr_fruits_ClassB,Weight_fruits_ClassB
0,43510,0.32,0.0000,NaN,45,NaN,717.0,0,0
1,43880,0.32,0.0022,1.0,45,NaN,964.0,0,0
2,43885,0.72,0.0000,0.6,47,82.0,655.0,0,0
3,43889,0.40,0.0000,1.2,48,199.0,1468.0,0,0
4,43894,0.34,0.0000,0.3,49,45.0,361.0,0,0

In [16]:
df_ref_production['datetime'] = pd.to_datetime(df_ref_production['%time'], unit='D', origin='1899-12-30')

In [17]:
df_ref_production.head()

,%time,ProdA,ProdB,avg_nr_harvested_trusses,Truss development time,Nr_fruits_ClassA,Weight_fruits_ClassA,Nr_fruits_ClassB,Weight_fruits_ClassB,datetime
0,43510,0.32,0.0000,NaN,45,NaN,717.0,0,0,2019-02-14
1,43880,0.32,0.0022,1.0,45,NaN,964.0,0,0,2020-02-19
2,43885,0.72,0.0000,0.6,47,82.0,655.0,0,0,2020-02-24
3,43889,0.40,0.0000,1.2,48,199.0,1468.0,0,0,2020-02-28
4,43894,0.34,0.0000,0.3,49,45.0,361.0,0,0,2020-03-04

In [15]:
df_ref_production.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   %time                     24 non-null     int64
 1   ProdA                     24 non-null     float64
 2   ProdB                     24 non-null     float64
 3   avg_nr_harvested_trusses  23 non-null     float64
 4   Truss development time    24 non-null     int64
 5   Nr_fruits_ClassA          22 non-null     float64
 6   Weight_fruits_ClassA      24 non-null     float64
 7   Nr_fruits_ClassB          24 non-null     int64
 8   Weight_fruits_ClassB      24 non-null     int64
dtypes: float64(5), int64(4)
memory usage: 1.8 KB

In [26]:
df_ref_production['datetime'].describe()

/tmp/ipykernel_24027/1984336414.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_ref_production['datetime'].describe()

count                      24
unique                     24
top       2019-02-14 00:00:00
freq                        1
first     2019-02-14 00:00:00
last      2020-05-29 00:00:00
Name: datetime, dtype: object